<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a href="/" class="navbar-brand">SlackThrow.</a>
    <div id="player"></div>
  </div>
</nav>
<div class="page">
  <div id="search" class="container"></div>
  <div id="content" class="container"></div>
</div>
