<nav class="navbar navbar-default">
  <div class="container">
    <a href="/" class="navbar-brand">SlackThrow.</a>
  </div>
</nav>
<div id="search" class="container"></div>
<div id="content" class="container"></div>
