#player
  width 400px
  float right
  line-height 50px
  color #789
  position relative
  padding-left 55px

  .nowplaying
    display block
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

  control
    font-family 'Glyphicons Halflings'
    font-size 30px
    line-height 20px
    cursor pointer
    position absolute
    left 0
    top 50%
    margin-top -10px
    &:after
      content "\e073"

    &.paused
      &:after
        content "\e072"

  playlist
    font-family 'Glyphicons Halflings'
    font-size 10px
    line-height 10px
    cursor pointer
    position absolute
    left 39px
    top 50%
    margin-top -5px
    color rgba(119, 136, 153, 0.57)
    &:after
      content "\e012"
