.track
  display block
  color #333
  padding-left 30px
  line-height 20px
  position relative
  padding 8px 0 8px 33px

  &:hover
    text-decoration none
    color #789

    &:before
      color #789

  &:before
    font-family 'Glyphicons Halflings'
    content "\e072"
    font-size 20px
    margin-right 10px
    position absolute
    left 8px
    top 50%
    margin-top -10px
    color #555

  &.loading
    &:before
      content "\e031"

  &.playing
    background-color #789
    color #fff

    &:hover
      &:before
        color #fff

    &:before
      content "\e073"
      color #fff

  &.paused
    background-color #789
    color #fff

    &:hover
      &:before
        color #fff

    &:before
      content "\e072"
      color #fff
